# Lock screen when a YubiKey 4 is unplugged.
#
# Requires the following udev rule to be setup:
#
#   SUBSYSTEM=="usb", ENV{PRODUCT}=="1050/407/437", SYMLINK+="yubikey", TAG+="systemd"
#
# Replace product with the correct product and save to /etc/udev/rules.d/
# and run 'udevadm control --reload'.This rule will create /dev/yubikey
# and a systemd device unit. Check the systemd device with
# 'systemctl status dev-yubikey.device'
#
# To check udev values, run: 'udevadm monitor --environment --udev --subsystem-match usb'
# and plug/unplug.
#
# To enable this user service, run 'systemctl --user enable <this-file-name>'
#

[Unit]
Description=Lock screen on YubiKey unplug
BindsTo=dev-yubikey.device

[Install]
WantedBy=graphical.target
WantedBy=dev-yubikey.device

[Service]
RemainAfterExit=yes
ExecStop=/usr/bin/xset dpms force off
