# i3 config file
# https://i3wm.org/docs/userguide.html

set $mod Mod4

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
font pango:sans bold 8

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec ~/.local/bin/term

# kill focused window
bindsym $mod+Shift+q kill

bindsym $mod+space exec --no-startup-id \
    rofi \
    -show combi \
    -sort \
    -matching fuzzy \
    -show-icons \
    -width -80

set $up1 k
set $down1 j
set $left1 h
set $right1 l

set $up2 p
set $down2 n
set $left2 b
set $right2 f

# change focus
bindsym $mod+$left1  focus left
bindsym $mod+$left2  focus left
bindsym $mod+Left    focus left
bindsym $mod+$down1  focus down
bindsym $mod+$down2  focus down
bindsym $mod+Down    focus down
bindsym $mod+$up1    focus up
bindsym $mod+$up2    focus up
bindsym $mod+Up      focus up
bindsym $mod+$right1 focus right
bindsym $mod+$right2 focus right
bindsym $mod+Right   focus right

# move focused window
bindsym $mod+Shift+$left1  move left
bindsym $mod+Shift+$left2  move left
bindsym $mod+Shift+Left    move left
bindsym $mod+Shift+$down1  move down
bindsym $mod+Shift+$down2  move down
bindsym $mod+Shift+Down    move down
bindsym $mod+Shift+$up1    move up
bindsym $mod+Shift+$up2    move up
bindsym $mod+Shift+Up      move up
bindsym $mod+Shift+$right1 move right
bindsym $mod+Shift+$right2 move right
bindsym $mod+Shift+Right   move right

# split via '-' and '|'
bindsym $mod+backslash split h
bindsym $mod+minus     split v

# enter fullscreen mode for the focused container
bindsym $mod+F11 fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# Define names for default workspaces for which we configure key bindings later on.
# We use variables to avoid repeating the names in multiple places.
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

# switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws10

# grave = `
bindsym $mod+grave workspace back_and_forth
workspace_auto_back_and_forth yes

bindsym $mod+q       exec --no-startup-id ~/.local/bin/lock
bindsym $mod+Shift+c exec --no-startup-id create-i3-config && i3 reload
bindsym $mod+Shift+r exec --no-startup-id create-i3-config && i3 restart
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

mode "resize" {
        bindsym $left1  resize shrink width  10 px or 10 ppt
        bindsym $left2  resize shrink width  10 px or 10 ppt
        bindsym Left    resize shrink width  10 px or 10 ppt
        bindsym $down1  resize grow   height 10 px or 10 ppt
        bindsym $down2  resize grow   height 10 px or 10 ppt
        bindsym Down    resize grow   height 10 px or 10 ppt
        bindsym $up1    resize shrink height 10 px or 10 ppt
        bindsym $up2    resize shrink height 10 px or 10 ppt
        bindsym Up      resize shrink height 10 px or 10 ppt
        bindsym $right1 resize grow   width  10 px or 10 ppt
        bindsym $right2 resize grow   width  10 px or 10 ppt
        bindsym Right   resize grow   width  10 px or 10 ppt

        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}
bindsym $mod+r mode "resize"

mode "focused" {
        # Use xprop to find these
        bindsym f [class="(?i)firefox"]   focus; mode "default"
        bindsym t [class="(?i)xterm"]     focus; mode "default"
        bindsym e [class="(?i)emacs"]     focus; mode "default"
        bindsym j [class="(?i)jetbrains"] focus; mode "default"

        bindsym Escape mode "default"
        bindsym $mod+slash mode "default"
}
bindsym $mod+slash mode "focused"

bar {
        status_command i3status
        font pango:sans 8
        colors {
                #class             border  background text
                focused_workspace  #626270 #626270    #ffffff
                active_workspace   #000000 #000000    #ffffff
                inactive_workspace #000000 #000000    #888888
                urgent_workspace   #900000 #900000    #ffffff
                binding_mode       #E65100 #E65100    #ffffff
        }

        mode hide
        # Disable switching workspace on scroll
        bindsym button4 nop
        bindsym button5 nop
}
bindsym $mod+m bar mode toggle

# class                 border  backgr. text    indicator child_border
client.focused          #626270 #626270 #ffffff #626270   #33333d
client.focused_inactive #33333d #33333d #888888 #33333d   #33333d
client.unfocused        #33333d #33333d #888888 #33333d   #33333d
client.urgent           #2f343a #900000 #ffffff #2f343a   #2f343a
client.placeholder      #0c0c0c #0c0c0c #ffffff #0c0c0c   #0c0c0c
client.background       #ffffff

# Disable mouse focus and switch window on scroll
focus_follows_mouse no
bindsym button4 nop
bindsym button5 nop

bindsym XF86MonBrightnessDown exec --no-startup-id ~/.local/bin/backlight -3
bindsym XF86MonBrightnessUp   exec --no-startup-id ~/.local/bin/backlight +3
bindsym $mod+Control+Down     exec --no-startup-id ~/.local/bin/backlight -3
bindsym $mod+Control+Up       exec --no-startup-id ~/.local/bin/backlight +3

bindsym XF86AudioRaiseVolume   exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +5% && pactl set-sink-mute @DEFAULT_SINK@ 0
bindsym XF86AudioLowerVolume   exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -5% && pactl set-sink-mute @DEFAULT_SINK@ 0
bindsym $mod+Mod1+Up           exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +5% && pactl set-sink-mute @DEFAULT_SINK@ 0
bindsym $mod+Mod1+Down         exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -5% && pactl set-sink-mute @DEFAULT_SINK@ 0
bindsym XF86AudioMute          exec --no-startup-id pactl set-sink-mute   @DEFAULT_SINK@ toggle
bindsym $mod+Control+Mod1+Up   exec --no-startup-id pactl set-sink-mute   @DEFAULT_SINK@ 0
bindsym $mod+Control+Mod1+Down exec --no-startup-id pactl set-sink-mute   @DEFAULT_SINK@ 1

hide_edge_borders both
default_border pixel

for_window [title="Volume Control"] floating enable border normal

exec --no-startup-id numlockx on
exec --no-startup-id feh --bg-fill --randomize ~/wallpapers
exec --no-startup-id xss-lock -- i3lock --color=333333
exec --no-startup-id xautolock -time 10 -locker ~/.local/bin/lock &
