[submodule ".profiles/fruit/nvidia-340xx"]
	path = .profiles/fruit/nvidia-340xx
	url = https://aur.archlinux.org/nvidia-340xx.git
[submodule ".profiles/fruit/nvidia-340xx-utils"]
	path = .profiles/fruit/nvidia-340xx-utils
	url = https://aur.archlinux.org/nvidia-340xx-utils.git
[submodule ".emacs.d/lib/center-layout"]
	path = .emacs.d/lib/center-layout
	url = https://gitlab.com/lae/emacs-center-layout.git
[submodule ".emacs.d/straight/repos/straight.el"]
	path = .emacs.d/straight/repos/straight.el
	url = https://github.com/raxod502/straight.el.git
