.config/Code/User/globalStorage
.config/Code/User/workspaceStorage
.config/JetBrains/idea/*.kdbx
.config/JetBrains/idea/*.pwd
.config/JetBrains/idea/codestyles/GoogleStyle.xml
.config/JetBrains/idea/disabled_plugins.txt
.config/JetBrains/idea/disabled_update.txt
.config/JetBrains/idea/extensions
.config/JetBrains/idea/idea64.exe.vmoptions
.config/JetBrains/idea/options/actionSummary.xml
.config/JetBrains/idea/options/code.style.schemes.xml
.config/JetBrains/idea/options/colors.scheme.xml
.config/JetBrains/idea/options/debugger.xml
.config/JetBrains/idea/options/docker.xml
.config/JetBrains/idea/options/extensionsRootType.xml
.config/JetBrains/idea/options/filetypes.xml
.config/JetBrains/idea/options/find.xml
.config/JetBrains/idea/options/github.xml
.config/JetBrains/idea/options/jdk.table.xml
.config/JetBrains/idea/options/laf.xml
.config/JetBrains/idea/options/lightEdit.xml
.config/JetBrains/idea/options/lombok-plugin.xml
.config/JetBrains/idea/options/other.xml
.config/JetBrains/idea/options/path.macros.xml
.config/JetBrains/idea/options/plugin_ui.xml
.config/JetBrains/idea/options/project.default.xml
.config/JetBrains/idea/options/recentProjects.xml
.config/JetBrains/idea/options/remote-servers.xml
.config/JetBrains/idea/options/runner.layout.xml
.config/JetBrains/idea/options/textmate_os.xml
.config/JetBrains/idea/options/toStringTemplates.xml
.config/JetBrains/idea/options/updates.xml
.config/JetBrains/idea/options/usage.statistics.xml
.config/JetBrains/idea/options/usageView.xml
.config/JetBrains/idea/options/vcs.xml
.config/JetBrains/idea/options/window.state.xml
.config/JetBrains/idea/options/wsl.distributions.xml
.config/JetBrains/idea/plugins
.config/JetBrains/idea/port
.config/JetBrains/idea/port.lock
.config/JetBrains/idea/tasks
.config/JetBrains/idea/terminal
.config/JetBrains/idea/user.web.token
.config/JetBrains/idea/workspace
.idea
