[credential]
	helper = /home/lae/.local/bin/git-credential-helper.sh
[user]
	signingkey = 086540409FB516EE2B6C835CF9AB582398F03331
	name = Lae Chen
	email = laec@protonmail.ch
[commit]
	gpgsign = true
[tag]
	gpgSign = true
