Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

XTerm.termName: xterm-256color
XTerm.ttyModes: erase ^?
XTerm.borderWidth: 0
XTerm.vt100.scrollBar: false
XTerm.vt100.backarrowKey: false
XTerm.vt100.saveLines: 10000
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.faceName: monospace
XTerm.vt100.faceNameDoublesize: Noto Sans CJK SC
XTerm.vt100.faceSize:  12
XTerm.vt100.faceSize1:  6  ! Unreadable
XTerm.vt100.faceSize2:  8  ! Tiny
XTerm.vt100.faceSize3: 10  ! Small
XTerm.vt100.faceSize4: 12  ! Medium
XTerm.vt100.faceSize5: 14  ! Large
XTerm.vt100.faceSize6: 16  ! Huge
XTerm.vt100.reverseVideo: false
XTerm.vt100.translations: #override \n\
    <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.font: xft:monospace
URxvt.letterSpace: -1
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollBar: false

#define Ansi_0_Color #cbccd5
#define Ansi_1_Color #c90e42
#define Ansi_10_Color #34b354
#define Ansi_11_Color #b89427
#define Ansi_12_Color #1085d9
#define Ansi_13_Color #c00db3
#define Ansi_14_Color #5b80ad
#define Ansi_15_Color #1d1d22
#define Ansi_2_Color #21883a
#define Ansi_3_Color #d54d17
#define Ansi_4_Color #1e44dd
#define Ansi_5_Color #6d1bed
#define Ansi_6_Color #1f4d7a
#define Ansi_7_Color #000000
#define Ansi_8_Color #dedfe8
#define Ansi_9_Color #fc4a6d
#define Background_Color #f7f7f7
#define Badge_Color #ff0000
#define Bold_Color #2a2c33
#define Cursor_Color #555555
#define Cursor_Guide_Color #a6e8ff
#define Cursor_Text_Color #ffffff
#define Foreground_Color #2a2c33
#define Link_Color #2063d6
#define Selected_Text_Color #2a2c33
#define Selection_Color #d2ecff

*color0:      Ansi_0_Color
*color1:      Ansi_1_Color
*color2:      Ansi_2_Color
*color3:      Ansi_3_Color
*color4:      Ansi_4_Color
*color5:      Ansi_5_Color
*color6:      Ansi_6_Color
*color7:      Ansi_7_Color
*color8:      Ansi_8_Color
*color9:      Ansi_9_Color
*color10:     Ansi_10_Color
*color11:     Ansi_11_Color
*color12:     Ansi_12_Color
*color13:     Ansi_13_Color
*color14:     Ansi_14_Color
*color15:     Ansi_15_Color
*colorBD:     Bold_Color
*colorIT:     Italic_Color
*colorUL:     Underline_Color
*foreground:  Foreground_Color
*background:  Background_Color
*cursorColor: Cursor_Color
