[Unit]
Description=Prevent sleep when there is active incoming SSH connection
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c '[[ $(ss --no-header state established sport 22 | wc -l) -gt 0 ]] && exit 1 || exit 0'

[Install]
RequiredBy=sleep.target
