# /usr/lib/systemd/system/disable-enp3s0.service

[Unit]
Description=Disable enp3s0 to save power

[Service]
Type=oneshot
ExecStart=/usr/bin/ip link set enp3s0 down
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
